%main.container.general-main-wrap
  .text-center
    %h3.general-login-title= t('.title')
    = link_to user_facebook_omniauth_authorize_path, class: 'general-login-icon facebook-login-btn', method: :post do
      %i.fa.fa-facebook-official
    %p.general-login-text= t('.or')
  = simple_form_for(resource, as: resource_name, url: registration_path(resource_name),
                    html: { class: 'general-form' }) do |f|
    .form-group.mb-30
      = f.label :email, t('.email'), class: 'control-label input-label email-label'
      = f.input_field :email, autofocus: true, id: 'email', class: 'form-control',
                      autocomplete: 'email', placeholder: t('.email')
      = f.full_error :email, class: 'text-danger'
    .form-group.mb-30
      = f.label :password, t('.password'), class: 'control-label input-label password-label'
      = f.input_field :password, autocomplete: 'new-password', id: 'password', class: 'form-control',
                      placeholder: t('.password')
      = f.full_error :password, class: 'text-danger'
    .form-group.mb-30
      = f.label :password_confirmation, t('.confirmation'), class: 'control-label input-label confirmation-label'
      = f.input_field :password_confirmation, autocomplete: 'new-password', id: 'confirm', class: 'form-control',
                      placeholder: t('.confirmation')
      = f.full_error :password_confirmation, class: 'text-danger'
    .text-center
      = f.submit t('.sign_up'), class: 'btn btn-default mb-20 submit-btn'
  %p.general-sign-text.text-center
    %span.account-question= t('.account_question')
    = link_to t('.log_in'), new_user_session_path, class: 'in-gold-500 log-in-link'
