.checkout-progress
  %ul.steps.list-inline
    = tag.li class: ['step', ('active' if step == :address)] do
      %span.step-number.step-one= t('.step_one')
      %span.step-text.hidden-xs.address-label= t('.address')
    %li.step-divider
    = tag.li class: ['step', ('active' if step == :delivery)] do
      %span.step-number.step-two= t('.step_two')
      %span.step-text.hidden-xs.delivery-label= t('.delivery')
    %li.step-divider
    = tag.li class: ['step', ('active' if step == :payment)] do
      %span.step-number.step-three= t('.step_three')
      %span.step-text.hidden-xs.payment-label= t('.payment')
    %li.step-divider
    = tag.li class: ['step', ('active' if step == :confirm)] do
      %span.step-number.step-four= t('.step_four')
      %span.step-text.hidden-xs.confirm-label= t('.confirm')
    %li.step-divider
    = tag.li class: ['step', ('active' if step == :complete)] do
      %span.step-number.step-five.complete-label= t('.step_five')
      %span.step-text.hidden-xs= t('.complete')
