%main.container.general-main-wrap
  %h1.general-title-margin= t('checkout.shared.general_title')
  = render 'checkout/checkout_progress', step: :confirm
  .row.mb-20
    .col-sm-3
      %h3.general-subtitle= t('addresses.new.shipping_title')
      = render 'address', address: (current_user.use_billing_address ? current_user.billing_address : current_user.shipping_address)
    .col-sm-3
      %h3.general-subtitle= t('addresses.new.billing_title')
      = render 'address', address: current_user.billing_address
    .col-sm-3
      %h3.general-subtitle= t('.shipments')
      %p.general-address
        = @order.shipping_method.name
        = link_to t('.edit'), edit_checkout_delivery_path, class: 'general-edit'
    .col-sm-3
      %h3.general-subtitle= t('.payment_information')
      %p.general-address
        = @order.credit_card.masked_number
        = link_to t('.edit'), edit_checkout_payment_path, class: 'general-edit'
        %br
        = @order.credit_card.expiry_date_full_year
  .visible-xs
    = render 'cart_items_xs', cart_items: @cart_items
  .hidden-xs.divider-lg.pt-20
    %table.table.table-hover
      %thead
        %tr
          %th
            %span.in-grey-600.book-label= t('.book')
          %th.col-method
          %th
            %span.in-grey-600.price-label= t('.price')
          %th
            %span.in-grey-600.quantity-label= t('.quantity')
          %th
            %span.in-grey-600.sub-total-label= t('.subtotal')
      %tbody
        = render 'cart_items', cart_items: @cart_items
  .text-center.general-text-right
    %p.in-gold-500.font-18= t('carts.show.order_summary')
    %table.general-summary-table.general-summary-table-right.general-text-right
      = render 'checkout/order_summary_table', order: @order, shipping_amount: true
  .text-center
    = button_to t('.place_order'), checkout_confirm_path, class: 'btn mb-20 submit-btn'
