%footer.navbar-inverse
  .container
    .row
      .col-sm-9
        %ul.list-inline.general-align.mb-25
          %li
            = link_to t('.home'), root_path, class: 'nav-link'
          %li
            = link_to t('.shop'), books_path(category_id: ''), class: 'nav-link'
          - if current_user
            %li= link_to t('.orders'), '#user_profile_orders_path', class: 'orders-link nav-link'
            %li= link_to t('.settings'), '#user_profile_settings_path', class: 'settings-link nav-link'
      .col-sm-3
        %p.general-nav-mail= t('.support_email')
        %p.general-nav-number= t('.support_phone_number')
        %ul.list-inline.general-align#social_buttons
          %li
            %a.nav-link{href: "#"}
              %i.fa.fa-facebook{'aria-hidden': "true"}
          %li
            %a.nav-link{href: "#"}
              %i.fa.fa-twitter{'aria-hidden': "true"}
          %li
            %a.nav-link{href: "#"}
              %i.fa.fa-google-plus{'aria-hidden': "true"}
          %li
            %a.nav-link{href: "#"}
              %i.fa.fa-instagram{'aria-hidden': "true"}
