%main.container.general-main-wrap
  .text-center
    %h1.mb-30= t('.title')
    %p.general-password-text= t('.description')
  = simple_form_for(resource, as: resource_name, url: password_path(resource_name),
                    html: { method: :post, class: 'general-form' }) do |f|
    .form-group.mb-25
      = f.input_field :email, autofocus: true, autocomplete: 'email', class: 'form-control',
                      id: 'email', placeholder: t('.placeholder')
      = f.full_error :email, class: 'text-danger'
    = f.submit t('.submit'), class: 'btn btn-default center-block mb-20'
    .text-center
      = link_to t('.cancel'), new_user_account_session_path, class: 'in-gold-500 mb-20'
