- orders.each do |order|
  .general-cart-item
    %table.table
      %tr
        %td.col-half
          %span.in-grey-600.number-title= t('orders.orders_table.number')
        %td.col-half
          = link_to order.number, order_path(order), class: 'general-order-number'
      %tr
        %td
          %span.in-grey-600.completed-title= t('orders.orders_table.completed_at')
        %td
          %span.in-grey-900.font-16.fw-300.completed-at= order.completed_at.strftime("%F")
      %tr
        %td
          %span.in-grey-600.status-title= t('orders.orders_table.status')
        %td
          %span.font-16.in-grey-900.fw-300.status= order.state.sub('_', ' ').capitalize
      %tr
        %td
          %span.in-grey-600.total-title= t('orders.orders_table.total')
        %td
          %strong.font-16.price= order.total_with_shipping
  .divider-lg-bottom.pt-0
