%main.container.general-main-wrap
  %h1.mt-0.mb-25= t('.my_orders')
  %p.lead.small.mb-10.visible-xs= t('.filter_by')
  .dropdowns.dropdown.general-order-dropdown
    = render 'orders_filter'
  .visible-xs
    = render 'orders_table_xs', orders: @orders
  .hidden-xs.mb-res-50
    = render 'orders_table', orders: @orders
