%main.container
  #slider.carousel.slide{'data-ride': "carousel"}
    %ol.carousel-indicators
      %li.active{'data-target': "#slider", 'data-slide-to': "0"}
      %li{'data-target': "#slider", 'data-slide-to': "1"}
    .carousel-inner{role: "listbox"}
      - unless @latest_books.decorated_collection.blank?
        .item.active
          = render 'book_card', book: @latest_books.first
        - @latest_books.decorated_collection.last(2).each do |book|
          .item
            = render 'book_card', book: book
    %a.left.carousel-control{href: "#slider", role: "button", 'data-slide': "prev"}
      %span.icon-prev{'aria-hidden': "true"}
      %span.sr-only= t('.previous_slider_button')
    %a.right.carousel-control{href: "#slider", role: "button", 'data-slide': "next"}
      %span.icon-next{'aria-hidden': "true"}
      %span.sr-only= t('.next_slider_button')
.container
  .jumbotron.text-center.mb-0
    %h2.h1= t('.welcome')
    .mb-res-50
      %p= t('.five_best_message')
    =link_to t('.get_started_button'), books_path, class: 'btn btn-default'
  .mb-35#best_sellers
    %h3= t('.best_sellers_title')
    - unless @best_sellers.decorated_collection.blank?
      .row
        = render 'best_sellers', books: @best_sellers
