%main.container
  %h1.general-title-margin= (@category.title if @category) || t('.page_title')
  .hidden-xs.clearfix
    .dropdowns.pull-right
      .dropdown.width-240
        = render 'sorting_dropdown'
          
    %ul.list-inline.pt-10.mb-25.mr-240
      %li.mr-35
        = link_to request.params.merge(category_id: nil), class: 'filter-link' do
          = t('.all_books')
          %span.badge.general-badge
            = all_books_count
        - @categories.each do |category|
          %li.mr-35
            = link_to request.params.merge(category_id: category.id), class: 'filter-link custom-filter' do
              = category.title
              %span.badge.general-badge
                = category.books.size

  .dropdowns.mb-25.visible-xs
    %p.lead.small.mb-10= t('.category_filter')
    .dropdown
      = render 'category_dropdown', categories: @categories
        
    %p.lead.small.mb-10= t('.sort_by')
    .dropdown
      = render 'sorting_dropdown'
        
  .mb-120
    .row#books_table
      = render 'books_table'

    - if @pagy.pages > 1
      .text-center#div_next_link
        = render 'next_page_button'
