%main.container.general-main-wrap
  %h1.general-title-margin= t('.cart_title')
  .visible-xs.cart-items-table
    = render 'cart_items/cart_items_xs', cart_items: @cart_items
  .hidden-xs.cart-items-table
    %table.table.table-hover
      %tr.no-hover
        %th.col-pic.pl-0
          %span.in-grey-600.product= t('.product')
        %th.col-title
        %th.col-price
          %span.in-grey-600.price= t('.price')
        %th.col-quantity
          %span.in-grey-600.quantity= t('.quantity')
        %th.col-total
          %span.in-grey-600.sub-total= t('.subtotal')
        %th.col-close
      = render @cart_items

  .general-order-wrap
    .row
      .col-sm-4
        .input-group.general-input-group.coupon-form
          = simple_form_for(@order, url: apply_coupon_order_path(@order), method: :put) do |f|
            = f.simple_fields_for :coupon do |c|
              = c.label :code, t('.enter_coupon'), class: 'input-label code-label'
              = c.input_field :code,
                class: 'form-control mb-30 code-field',
                placeholder: @order.coupon.try(:code) || t('.enter_coupon')
            %div
              = f.submit t('.apply_coupon'), class: 'btn btn-primary mr-5 mb-15 submit-coupon'
      .col-sm-8
        .res-mr-200.text-center.general-text-right.order-summary
          %p.in-gold-500.font-18.order-summary-title= t('.order_summary')
          %table.general-summary-table.general-summary-table-right.general-text-right
            = render 'checkouts/order_summary_table', order: @order
          = link_to t('.checkout'), user_signed_in? ? checkout_address_path : checkout_login_path,
                              class: 'btn btn-default visible-xs-inline-block checkout'
  .text-center
    = link_to t('.checkout'), user_signed_in? ? checkout_address_path : checkout_login_path,
                              class: 'btn btn-default hidden-xs checkout'
= javascript_pack_tag 'cart/order_summary'
