- cart_items.each do |cart_item|
  .general-cart-item.divider-lg-bottom.mb-30{class: "#{dom_id(cart_item)}"}
    .ddt
      = link_to cart_item_path(cart_item),
        method: :delete,
        class: 'close general-cart-close',
        'aria-label': 'Close',
        remote: true,
        data: { confirm: "Are you sure?" } do
        %span{'aria-hidden': "true"} &times;
    .general-img-wrap-table
      = link_to image_tag(cart_item.book.cover_image,
        class: 'cart-img-shadow',
        alt: 'design-book'), cart_item.book
    %p.title= link_to cart_item.book.title, cart_item.book
    %table.table
      %tr
        %td
          %span.in-grey-600= t('.price')
        %td
          %span.font-16.in-gold-500= cart_item.book.price_with_currency
      %tr
        %td.vertical-middle
          %span.in-grey-600= t('.quantity')
        %td
          .input-group.show
            = link_to decrement_book_cart_item_path(cart_item),
                class: 'input-link',
                remote: true,
                method: :put do
              %i.fa.fa-minus.line-height-40
            = simple_form_for cart_item, remote: true, method: :put do |f|
              = f.input_field :books_count, as: :string,
                class: 'form-control quantity-input',
                value: cart_item.books_count,
                remote: true,
                format: :js,
                onchange: 'submit.rails'
            = link_to increment_book_cart_item_path(cart_item),
                class: 'input-link',
                remote: true,
                method: :put do
              %i.fa.fa-plus.line-height-40
      %tr
        %td
          %span.in-grey-600= t('.subTotal')
        %td
          %span.font-16.in-gold-500.subtotal= cart_item.subtotal_price
