%main.container
  = render 'checkout_progress', step: :address
  %form.res-mb-100
  = simple_form_for current_user, url: checkout_save_adresses_path do |sf|
    .hidden-xs.hidden-sm
      .row
        .col-md-5
          %h3.general-subtitle= t('addresses.new.billing_title')
          %p.general-info-text= t('.fields_required')
        .col-md-5.col-md-offset-1
          %h3.general-subtitle= t('addresses.new.shipping_title')
    .row
      .col-md-5.mb-40
        .visible-xs.visible-sm
          %h3.general-subtitle= t('addresses.new.billing_title')
          %p.general-info-text= t('.fields_required')
        = sf.simple_fields_for :billing_address_attributes,
                                current_user.billing_address,
                                namespace: :billing do |form_builder|
          = render 'address_form_fields', f: form_builder
      .col-md-5.col-md-offset-1.mb-60
        - if current_user.use_billing_address == false
          .visible-xs.visible-sm
            %h3.general-subtitle= t('addresses.new.shipping_title')
          = sf.simple_fields_for :shipping_address_attributes,
                                  current_user.shipping_address,
                                  namespace: :shipping do |form_builder|
            = render 'address_form_fields', f: form_builder
        .form-group.checkbox
          %label.checkbox-label
            = sf.check_box :use_billing_address, { class: 'checkbox-input', hidden: 'true' }, true, false
            %span.checkbox-icon
              %i.fa.fa-check
            %span.checkbox-text= t('.use_billing_address')
    .general-text-align.mb-60
      %p.in-gold-500.font-18= t('carts.show.order_summary')
      %table.general-summary-table
        = render 'order_summary_table', order: @order
      .text-center
        = sf.submit t('.save_and_continue'), class: 'btn mb-20 submit-btn'
