.form
  = simple_form_for address, url: addresses_path, html: { method: :post } do |f|
    .form-group
      = f.label :first_name, t('.first_name'), class: 'control-label input-label first-name-label'
      = f.input_field :first_name, id: 'firstName', class: 'form-control', placeholder: t('.first_name')
      = f.full_error :first_name, class: 'text-danger'
      %span.help-block= t('.first_name_help')
    .form-group
      = f.label :last_name, t('.last_name'), class: 'control-label input-label last-name-label'
      = f.input_field :last_name, id: 'lastName', class: 'form-control', placeholder: t('.last_name')
      = f.full_error :last_name, class: 'text-danger'
    .form-group
      = f.label :address, t('.address'), class: 'control-label input-label address-label'
      = f.input_field :address, id: 'address', class: 'form-control', placeholder: t('.address')
      = f.full_error :address, class: 'text-danger'
    .form-group
      = f.label :city, t('.city'), class: 'control-label input-label city-label'
      = f.input_field :city, id: 'city', class: 'form-control', placeholder: t('.city')
      = f.full_error :city, class: 'text-danger'
    .form-group
      = f.label :zip, t('.zip'), class: 'control-label input-label zip-label'
      = f.input_field :zip, id: 'zip', class: 'form-control', placeholder: t('.zip')
      = f.full_error :zip, class: 'text-danger'
    .form-group
      = f.label :country_code, t('.country'), class: 'control-label input-label country-label'
      = f.input_field :country_code, as: :country, id: 'country', class: 'form-control',
                      include_blank: t('.country_placeholder')
      = f.full_error :country_code, class: 'text-danger'
    .form-group.mb-60
      = f.label :phone, t('.phone'), class: 'control-label input-label phone-label'
      = f.input_field :phone, id: 'phone', class: 'form-control', placeholder: t('.phone_placeholder')
      = f.full_error :phone, class: 'text-danger'
      = f.hidden_field :user_account_id, value: current_user.id
      = f.hidden_field :type, value: address.type
    .text-center.general-text-align
      = f.submit t('.save'), class: 'btn submit-btn' 
