%p= t('.greeting', email: @resource.email)
%p= t('.notification')
%p= link_to t('.change_password'), edit_password_url(@resource, reset_password_token: @token)
%p= t('.instruction_1')
%p= t('.instruction_2')
