%main.container.general-main-wrap
  %h1.general-title-margin= t('checkout.shared.general_title')
  = render 'checkout/checkout_progress', step: :complete
  .text-center.mb-40
    %h3.general-subtitle Thank You for your Order!
    %p.fw-300 An order confirmation has been has been sent to John Doe0411@gmail.com
  .row.mb-20
    .col-sm-6
      .visible-xs
        %p.general-order-number.mb-0 Order #R25314582
        %p.general-address.mb-30 October 29, 2016
      %p.general-address
        = render 'checkout/address', address: @order.select_shipping_address
    .col-sm-6.hidden-xs.text-right
      %p.general-order-number.mb-0 Order #R25314582
      %p.general-address.mb-30 October 29, 2016
  .visible-xs
    = render 'checkout/cart_items_xs', cart_items: @cart_items
  .hidden-xs.divider-lg.pt-20
    %table.table.table-hover
      %thead
        %tr
          %th
            %span.in-grey-600.book-label= t('.book')
          %th.col-method
          %th
            %span.in-grey-600.price-label= t('.price')
          %th
            %span.in-grey-600.quantity-label= t('.quantity')
          %th
            %span.in-grey-600.sub-total-label= t('.subtotal')
      %tbody
        = render 'checkout/cart_items', cart_items: @cart_items
  .text-center.general-text-right
    %p.in-gold-500.font-18= t('carts.show.order_summary')
    %table.general-summary-table.general-summary-table-right.general-text-right
      = render 'checkout/order_summary_table', order: @order, shipping_amount: true
  .text-center
    = link_to 'Back to Store', root_path, class: 'btn mb-20 submit-btn'
