!!!
%html
  = render 'partials/head'

  %body
    = render 'partials/header', cached: true, categories: @categories
    = render 'partials/flash_messages'
    = yield
    = render 'partials/footer', cached: true


